<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>地址管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>商品管理</a>
                    </li>
                    <li class="active">
                        <strong>地址管理</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改地址</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <div  class="form-horizontal">

                                <div class="form-group"><label class="col-sm-2 control-label">商品id：</label>
                                    <div class="col-sm-10">
                                        <input id="id" name="id" readonly="readonly" type="text" class="form-control"
                                               th:value="${item.id}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">标题：</label>
                                    <div class="col-sm-10">
                                        <input id="title" name="title" type="text" class="form-control"
                                               th:value="${item.title}" readonly="readonly"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">门店地址信息管理：</label>
                                    <div class="col-sm-10">
                                        <table class="table table-hover table-bordered" >
                                            <thead>
                                            <tr>
                                                <th>地址ID</th>
                                                <th>商品ID</th>
                                                <th>店铺名</th>
                                                <th>地址</th>
                                                <th>经纬</th>
                                                <th>营业时间</th>
                                                <th>电话</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!-- BEGIN list -->
                                            <tr th:each="l : ${list}">
                                                <td th:text="${l.add_id}"></td>
                                                <td th:text="${l.item_id}"></td>
                                                <td th:text="${l.shopname}"></td>
                                                <td th:text="${l.addressInfo}"></td>
                                                <td th:text="${l.latitudeLongitude}"></td>
                                                <td th:text="${l.starttime}"></td>
                                                <td th:text="${l.tel}"></td>
                                                <td>
                                                    <button type="button" class="btn btn-info" data-toggle="modal" onclick="" data-target="#addUserModal">编辑</button>
                                                    &nbsp;&nbsp;
                                                    <a type="button" th:href="'/addDelete?add_id='+${l.add_id}+'&amp;id='+${item.id}" class="btn btn-danger" >删除</a>
                                                </td>

                                            </tr>

                                            <!-- END list -->

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div style="text-align: center">
                                    <!-- 按钮触发模态框 -->
                                    <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">添加地址信息</button>
                                </div>
                                <!-- 模态框（Modal） -->
                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title" id="myModalLabel">添加地址信息</h4>
                                            </div>
                                            <form id="form1" name="form1" action="/user/addPost" method="post">
                                            <div class="modal-body">
                                                <label for="add_id">套餐id：</label>
                                                <input  id="add_id" name="add_id" readonly="readonly" type="text" class="form-control" value="0"/>
                                                <label for="item_id">商品id：</label>
                                                <input  id="item_id" name="item_id" readonly="readonly" type="text" class="form-control" th:value="${item.id}"/>
                                                <label for="shopname">店铺:</label>
                                                <input id="shopname" name="shopname" type="text" class="form-control"  placeholder="请输入店铺名"/>
                                                <label for="addressInfo">地址:</label>
                                                <input id="addressInfo" name="addressInfo" type="text" class="form-control"  placeholder="请输入地址"/>
                                                <label for="latitudeLongitude">经纬:</label>
                                                <input id="latitudeLongitude" name="latitudeLongitude" type="text" class="form-control"  placeholder="请输入纬度，经度"/>
                                                <label for="tel">电话:</label>
                                                <input id="tel" name="tel" type="text" class="form-control"  placeholder="请输入电话"/>
                                                <label for="starttime">营业:</label>
                                                <input id="starttime" name="starttime" type="text" class="form-control"  placeholder="请输入营业时间"/>
                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                <button type="submit" class="btn btn-primary">确认添加</button>
                                            </div>
                                            </form>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal -->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>

    </div>
</div>



<!-- Mainly scripts -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common1.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>


</body>

</html>
