<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet"/>

    <!-- Toastr style -->
    <link th:href="@{/css/plugins/toastr/toastr.min.css}" rel="stylesheet"/>

    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet"/>
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>商品管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>商品管理</a>
                    </li>
                    <li>
                        <a>商品管理</a>
                    </li>
                    <li class="active">
                        <strong>商品新增</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>修改商品</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" action="/user/itemEdit" method="POST" class="form-horizontal"
                                  enctype="multipart/form-data">

                                <div class="form-group"><label class="col-sm-2 control-label">商品id：</label>
                                    <div class="col-sm-10">
                                        <input id="id" name="id" readonly="readonly" type="text" class="form-control"
                                               th:value="${item.id}"/>
                                        <input id="id1" name="id1" type="hidden"  form="formTag1"
                                               th:value="${item.id}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">标题：</label>
                                    <div class="col-sm-10">
                                        <input id="title" name="title" type="text" class="form-control"
                                               th:value="${item.title}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>


                                <div id="imageCell" class="form-group"><label class="col-sm-2 control-label">首页图片：</label>
                                    <div class="col-sm-10">
                                        <img th:src="${item.image}" id="image" name="image" style="width: 250px;height: 200px"/>
                                            <div   id="uploadImgBtn" form="formTag1" style="width:250px;height:200px;background: url(a.jpg) no-repeat center top;background-size: 100%;">
                                                <input class="uploadImg" type="file" name="file" id="file" form="formTag1"/>
                                            </div>

                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">商品详情：</label>
                                    <div class="col-sm-10">

                                        <textarea id="Contents" name="sell_point"  th:utext="${item.sellPoint}" style="width:100%;height:300px;">

                                                        </textarea>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">价格：</label>
                                    <div class="col-sm-10">
                                        <input id="price" name="price" type="text" class="form-control"
                                               th:value="${item.price}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">门市价：</label>
                                    <div class="col-sm-10">
                                        <input id="del_price" name="del_price" type="text" class="form-control"
                                               th:value="${item.del_price}"/>
                                    </div>
                                </div>

                                <div class="form-group"><label class="col-sm-2 control-label">返现：</label>
                                    <div class="col-sm-10">
                                        <input id="money" name="money" type="text" class="form-control"
                                               th:value="${item.money}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">库存：</label>
                                    <div class="col-sm-10">
                                        <input id="num" name="num" type="text" class="form-control"
                                               th:value="${item.num}"/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">套餐管理：</label>
                                    <div class="col-sm-10">
                                        <div style="margin: 50px;">

                                        </div>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">门店地址信息管理：</label>
                                    <div class="col-sm-10">

                                    </div>
                                </div>


                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" class="btn btn-primary" type="button">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                            <form id="formTag1" enctype="multipart/form-data"></form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>



<!-- Mainly scripts -->
<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- Toastr script -->
<script th:src="@{/js/plugins/toastr/toastr.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common1.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>

<script charset="UTF-8" th:src="@{/js/kindeditor/kindeditor-all-min.js}"></script>
<script charset="UTF-8" th:src="@{/js/kindeditor/lang/zh-CN.js}"></script>


<script type="text/javascript">
    KindEditor
        .ready(function(K) {
            window.editor = K
                .create(
                    '#Contents',
                    {
                        uploadJson : '/fileUpload',
                        fileManagerJson : '/fileManager',
                        allowImageUpload : true, //多图上传
                        allowFileManager : true, //浏览图片空间
                        filterMode : false, //HTML特殊代码过滤
                        afterBlur : function() {
                            this.sync();
                        }, //编辑器失去焦点(blur)时执行的回调函数（将编辑器的HTML数据同步到textarea）
                        afterUpload : function(url, data, name) { //上传文件后执行的回调函数，必须为3个参数
                            },
                        afterChange: function(){ //编辑器内容发生变化后，将编辑器的内容设置到原来的textarea控件里
                            this.sync();
                        },
                        afterCreate: function () {
                            this.sync();
                        }

                    });
        });
</script>

<script th:inline="javascript">
    $(document).ready(function(){
        $("#file").on("change", upload );
    })
    const id = [[${item.id}]];

    function upload(){
        var self = this;
        $.ajax({
            url: "/uploadImg",
            type: "post",
            dataType: "json",
            cache: false,
            data: new FormData($("#formTag1")[0]),
            processData: false,// 不处理数据
            contentType: false, // 不设置内容类型
            success: function(data){

                $(self).parent().css({
                    "background-image": "url("+data.url+")"
                })
            }

        })
    }
</script>

<script type="text/javascript">
    $(document).ready(function () {
        //初始化编辑器
        $('#summernote').summernote({
            height: 300,
            codemirror: {
                mode: 'text/html',
                htmlMode: true,
                lineNumbers: true,
                theme: 'monokai'
            }
        });
        //编辑器赋值

        //提交
        $("#submitButton").click(function () {
            if ($("#title").val() == "") {
                toastr.error('请输入商品标题', '提示');
                return;
            }
            if ($("#category").val() == 0) {
                toastr.error('请选择商品分类', '提示');
                return;
            }
            if ($("#price").val() == 0) {
                toastr.error('请输入商品价格', '提示');
                return;
            }
            if ($("#num").val() == 0) {
                toastr.error('请输入库存数量', '提示');
                return;
            }
            $("#formTag").submit();
        });
    });
</script>

</body>

</html>
