* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
html,body{
	font-size: 20px;
}
body {
  background: #F9F7F7;
	padding-bottom: constant(safe-area-inset-bottom);
}
a {
  text-decoration: none;
}
input{
	border: none;
	outline: none;
}
.container{
	padding-bottom: 3.5rem;
}
iframe{
	/* border: none; */
	width: 100%;
	margin-top: 3%;
}
header{
	width: 100%;
	height: 2.8rem;
	position: fixed;
	z-index: 100;
	top: 0;left: 0;
	background: #FFFFFF;
}
header span.back{
	width: 0.55rem;
	height: 0.55rem;
	border-top: 2px solid #4D4D4D;
	border-left: 2px solid #4D4D4D;
	position: absolute;
	left: 1rem;top: 50%;
	transform: translateY(-50%) rotate(-45deg);
	z-index: 200;
}
header .headimg{
	width: 100%;
	height: 100%;
}
header .headtit{
	padding-left: 2rem;
	font-size: 0.9rem;
	color: #3D3D3D;
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	height: 100%;
	line-height: 2.8rem;
}
.footermy{
	z-index: 9999;
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
}
.footermy ul{
	width: 100%;
	display: flex;
	padding: 0.3rem 0;
}
.footermy ul li{
	width: 50%;
	text-align: center;
}
.footermy ul li img{
	width: 1rem;
	height: 1rem;
}
.footermy ul li div{
	font-size: 0.7rem;
	color: #5A5A5A;
	margin-top: -0.2rem;
}
.icon {
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
.icontwo{
  width: 1.8rem;
  height: 1.8rem;
  vertical-align: -0.25em;
	margin-top: -0.3rem;
}

.spinner {
	text-align: center;

	top: 50%;
	display: inline-block;

	position: absolute;

	z-index: 99999;


}
.loading-div{
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #ffffff;
}



.spinner > div {

	width: 30px;

	height: 30px;

	background-color: #67CF22;

	border-radius: 100%;

	display: inline-block;

	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;

	animation: bouncedelay 1.4s infinite ease-in-out;

	/* Prevent first frame from flickering when animation starts */

	-webkit-animation-fill-mode: both;

	animation-fill-mode: both;

}



.spinner .bounce1 {

	-webkit-animation-delay: -0.32s;

	animation-delay: -0.32s;

}



.spinner .bounce2 {

	-webkit-animation-delay: -0.16s;

	animation-delay: -0.16s;

}



@-webkit-keyframes bouncedelay {

	0%, 80%, 100% { -webkit-transform: scale(0.0) }

	40% { -webkit-transform: scale(1.0) }

}



@keyframes bouncedelay {

	0%, 80%, 100% {

		transform: scale(0.0);

		-webkit-transform: scale(0.0);

	} 40% {

		  transform: scale(1.0);

		  -webkit-transform: scale(1.0);

	  }

}


#mcover {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: none;
	z-index: 20000;
}
#mcover img {
	position: fixed;
	right: 18px;
	top: 5px;
	width: 260px;
	height: 180px;
	z-index: 999;
}