<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atjx.mapper.WxOderMapper">
    <resultMap id="OrderResultMap" type="com.atjx.model.WxOrder">
        <id column="wxorder_id" property="wxorder_id" jdbcType="INTEGER"/>
        <result column="payment" property="payment" jdbcType="INTEGER"/>
        <result column="creat_time" property="creat_time" jdbcType="TIMESTAMP"/>
        <result column="openid" property="openid" jdbcType="VARCHAR"/>
        <result column="username" property="username" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="b_describe" property="b_describe" jdbcType="VARCHAR"/>
        <result column="status_code" property="status_code" jdbcType="VARCHAR"/>
        <result column="order_no" property="order_no" jdbcType="VARCHAR"/>
        <result column="item_title" property="item_title" jdbcType="VARCHAR"/>
        <result column="order_desc" property="order_desc" jdbcType="VARCHAR"/>
        <result column="spe_id" property="spe_id" jdbcType="VARCHAR"/>
        <collection property="specification" ofType="com.atjx.model.Specification">
            <id column="spe_id" property="spe_id" jdbcType="INTEGER"/>
            <result column="item_id" property="item_id" jdbcType="INTEGER"/>
            <result column="tname" property="tname" jdbcType="VARCHAR"/>
            <result column="sprice" property="sprice" jdbcType="BIGINT"/>
            <result column="sdel_price" property="sdel_price" jdbcType="BIGINT"/>
            <result column="t_describe" property="t_describe" jdbcType="VARCHAR"/>
        </collection>

    </resultMap>
    <insert id="insert" parameterType="com.atjx.model.WxOrder" useGeneratedKeys="true" keyProperty="wxorder_id">
        insert into tb_wxorder
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="wxorder_id != null">
                wxorder_id,
            </if>
            <if test="payment != null">
                payment,
            </if>
            <if test="creat_time != null">
                creat_time,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="b_describe != null">
                b_describe,
            </if>
            <if test="status_code != null">
                status_code,
            </if>
            <if test="order_no != null">
                order_no,
            </if>
            <if test="item_title != null">
                item_title,
            </if>
            <if test="order_desc != null">
                order_desc,
            </if>
            <if test="spe_id != null">
                spe_id,
            </if>
        </trim>
        <trim prefix="value (" suffix=")" suffixOverrides=",">
            <if test="wxorder_id != null">
                #{wxorder_id,jdbcType=INTEGER},
            </if>
            <if test="payment != null">
                #{payment,jdbcType=INTEGER},
            </if>
            <if test="creat_time != null">
                NOW(),
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="b_describe != null">
                #{b_describe,jdbcType=VARCHAR},
            </if>
            <if test="status_code != null">
                #{status_code,jdbcType=VARCHAR},
            </if>
            <if test="order_no != null">
                #{order_no,jdbcType=VARCHAR},
            </if>
            <if test="item_title != null">
                #{item_title,jdbcType=VARCHAR},
            </if>
            <if test="order_desc != null">
                #{order_desc,jdbcType=VARCHAR},
            </if>
            <if test="spe_id != null">
                #{spe_id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

    <delete id="delete" parameterType="java.lang.Integer">
        delete from tb_wxorder where order_id=#{order_id,jdbcType=INTEGER}
    </delete>

    <select id="findByUser" resultMap="OrderResultMap" parameterType="java.lang.String">
        SELECT w.*,s.*
        from tb_wxorder w
        left join tb_specification s
        on w.spe_id = s.spe_id
        where openid = #{openid, jdbcType=VARCHAR}

    </select>

    <select id="selectStatus" resultMap="OrderResultMap" parameterType="java.lang.String">
        SELECT * from tb_wxorder where status_code=#{status_code,jdbcType=VARCHAR} and openid = #{openid, jdbcType=VARCHAR}
    </select>

    <update id="update" parameterType="com.atjx.model.WxOrder">
        UPDATE tb_wxorder
        <trim prefix="set" suffixOverrides=",">
            <if test="status_code != null">
                #{status_code,jdbcType=VARCHAR},
            </if>
        </trim>
        WHERE user_id = #{user_id, jdbcType=INTEGER}
    </update>


</mapper>