<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/swiper.min.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"/>
		<link rel="icon" th:href="@{../favicon.ico}" type="image/x-icon" />
		<link rel="shortcut icon" th:href="@{../favicon.ico}" type="image/x-icon" />
		<title>商品详情</title>
	</head>
	<script type="text/javascript" charset="utf-8" src="/admin/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" charset="utf-8" src="/admin/ueditor/ueditor.all.min.js"> </script>
	<script type="text/javascript" charset="utf-8" src="/admin/ueditor/lang/zh-cn/zh-cn.js" ></script>
	<script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" charset="utf-8" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js" ></script>

	<script th:inline="javascript">
		//初始化ueditor  建议放到最开头
		var ue = UE.getEditor('editor',
				{
					toolbars:[[]],
					//关闭字数统计  
					wordCount:false,
					//关闭elementPath  
					elementPathEnabled:false,
					//默认的编辑区域高度  
					initialFrameHeight: '100%'
					//更多其他参数，请参考ueditor.config.js中的配置项  
				});
		ue.ready(function() {
			//不可编辑
			ue.setDisabled();
		});
		//获取后台传过来的filmVo对象的filmDesc属性的内容(html字符串内容(数据库查到的))
		// var filmDesc = [[${item.sell_Point}]];
		// var sp=[[${item.sell_Point}]];
		//这个监听器是亮点
		// ue.addListener('ready',function () {
		// 	ue.execCommand('insertHtml',filmDesc);
		// });

	</script>
	<body>
		<div class="container" >
<!--			<div class="listhead">-->
<!--				<img src="../img/headimg.png" />-->
<!--				<span></span>-->
<!--			</div>-->
			<div class="particulars">
				<div class="swiper-container">
					<div class="swiper-wrapper">
							<div class="swiper-slide"  th:each="p:${picList}"><img th:src="${p.pic_url}" /></div>

					</div>
					<!-- Add Pagination -->
					<div class="swiper-pagination"></div>
				</div>
				<div class="listcontent-box">
					<div class="particulars-tit">
<!--						<div class="titiles"></div>-->
						<div class="jianjie" th:text="${item.title}"></div>
					</div>
					<div class="listcontent-price">
						<div class="listcontent-price-left particulars-price-left">
							<span class="prices" th:text="'￥'+${item.price}+'&nbsp;'"></span>
							<s class="yuan" th:text="'原价'+${item.del_price}"></s>&nbsp;
							<span class="fan" th:text="'返'+${item.money}+'元'"></span>
						</div>
						<div class="particulars-price-right" th:text=" '已售'+${item.sales}+'/'+'剩余'+${item.num}"  ></div>
					</div>
				</div>
			</div>
			<div class="particulars-goroup">
				<div class="particularsTie">套餐选择</div>
				<div class="particularsel" >
						<div  th:each="s ,speStat:${item.specification}"  th:text="${s.tname}" th:classappend="${speStat.index==0} ? 'active' : '' ">
							<span th:text="${s.spe_id}"></span>
						</div>
				</div><br/>
				<hr style="align:center;border:1px dashed #C0C0C0;"/>
			</div><br/>
			<!--	套餐描述		-->
			<div style="text-align: center">
				<label>
<TEXTAREA readonly="readonly" style="resize: none;width: 90%;outline: none;border: none;overflow: hidden;">
</TEXTAREA>
				</label>
			</div>
			<div class="particulars-goroup">
				<div class="particularsTie">商家信息</div>
				<div class="particularsjxx">
					<div class="particularsjxx-list" th:each="a : ${item.address}">
						<div class="particularsjxx-name" th:text="${a?.shopname}"></div>
						<div class="particularsjxx-jianjie">
							<img src="../img/address.png" alt=""/>
							<div class="address">
								<p><span  id="address" th:text="${a?.addressInfo}"></span><a th:href="'tel:'+${a?.tel}"><img src="../img/tells.png"  alt="电话"/></a></p>
								<p th:text="'营业时间：'+${a?.starttime}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="particulars-goroup">
				<div class="particularsTie">详细信息</div>
				<div class="xiangqing">
<!--						<script id="editor" type="text/html" style="width:100%">-->
<!--						</script>-->
					<!--th:value="${item?.sell_Point}"-->
					<label for="editor"></label><textarea id="editor" name="sell_Point" th:utext="${item.sell_Point}" style="width: 100%;">
				</textarea >
				</div>

			</div>
		</div>
		<div class="hrefbox">
			<div class="sharebox" id="sharebtn">
				<div class="shareboxlist"><p th:text="'会员下单返'+${item.money}+'元'"></p></div>
				<div class="shareboxlist">立即分享</div>
				<img src="../img/jinbi.png" />
				<span class="close">x</span>
			</div>
			<div class="gotops" id="gotops"><img src="../img/tops.png" alt="top"/> </div>
		</div>
		<div class="footer footlist">
			<ul>
				<li>
					<a onclick="window.history.go(-1)"><p>商城首页</p></a>
				</li>
				<li>
					<a href="tel:666666666"><p>咨询客服</p></a>
				</li>
				<li class="active">
					<a id="item_url" ><p>立即购买</p></a>
				</li>
			</ul>
		</div>

		<script>
			wx.config({
				debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
				appId: '', // 必填，公众号的唯一标识
				timestamp: '', // 必填，生成签名的时间戳
				nonceStr: '', // 必填，生成签名的随机串
				signature: '',// 必填，签名
				jsApiList: ['openLocation'] // 必填，需要使用的JS接口列表 这里填写需要用到的微信api openlocation为使用微信内置地图查看位置接口
			});
			wx.ready(function () {
				wx.checkJsApi({
					jsApiList: ['checkJsApi','openLocation'],
					success: function (res) {}
				});
			});
			wx.error(function(res){
				console.log(res);
			});

			$('#address').click(function () {
				wx.openLocation({
					latitude: 22.545538, // 纬度，浮点数，范围为90 ~ -90。如果是动态获取的数据，使用parseFloat()处理数据
					longitude: 114.054565, // 经度，浮点数，范围为180 ~ -180。如果是动态获取的数据，使用parseFloat()处理数据；
					name: '这里填写位置名', // 位置名
					address: '位置名的详情说明', // 地址详情说明
					scale: 10, // 地图缩放级别,整形值,范围从1~28。默认为最大
				});
			})


		</script>
		<script th:inline="javascript">
			var num=[[${item.num}]];
			var nums=parseInt(num);
			if(nums===0){
				// alert("判断成功");
				$(".active").attr("disabled",true);
				$(".footer footlist li").removeClass();
				$('.footer footlist a').css("pointer-events","none");
				$('.footlist ul li.active').css("background","#808080");
			}

		</script>

		<script>
			var jsonObject={};
			$.ajax({

				type: "POST",//请求方式

				url: '/PostServlet',//指定的链接

				data: JSON.stringify({//请求后端的参数

					tokenID: Token,

					schema: Schema,

					funData: JSON.stringify({

						func: 'doFunc',

						params: param

					})

				}),

				dataType: "JSON",//或"TEXT" //请求返回的数据类型
				async: false,  //是否需要同步
				cache: true,
				success: function (data) { //请求返回成功后执行的function
					//后端返回json数据可以在这里，应用上面所说的解析json方法解析
					var jsonArray=JSON.parse(data);//一般使用这种方法，将数据转换成JavaScript对象
				},
				error: function (data) {
					console.log(data.result);
				}

			})
		</script>

<!--		获取套餐价格-->
		<script th:inline="javascript">
			var jsonObject=[[${itemJson}]];
			console.log(jsonObject);
			$(function(){
				$(".particularsel").each(function(){
					var i=$(this);
					var p=i.find("div");
					p.click(function(){
						// if(!!$(this).hasClass("active")){
						// 	$(this).removeClass("active");
						// 	i.removeAttr("data-attrval");
						// }else{
						// 	$(this).addClass("active").siblings().removeClass("active");
							i.attr("data-attrval",$(this).attr("data-aid"));
						// }
						//选择套餐
						$(".particularsel").on("click","div",function(){
							$(this).addClass("active").siblings().removeClass("active");
						});
						getattrprice(); //输出价格
					})
				});

				//获取对应属性的价格
				function getattrprice(){
					var defaultstats=true;
					var _val='';
					var _resp={
						mktprice:".yuan",
						price:".prices"
					};  //输出对应的class
					$(".particularsjxx .particularsel").each(function(){
						var i=$(this);
						var v=i.attr("data-attrval");
						if(!v){
							defaultstats=false;
						}else{
							_val+=_val!=""?"_":"";
							_val+=v;
						}
					});
					if(!!defaultstats){
						_mktprice=jsonObject['specification'][_val]['sdel_price'];
						_price=jsonObject['specification'][_val]['sprice'];
					}else{
						_mktprice=jsonObject['sdel_price'];
						_price=jsonObject['sprice'];
					}

					//输出价格
					$(_resp.mktprice).text(_mktprice);  ///其中的math.round为截取小数点位数
					$(_resp.price).text(_price);
				}
			})
		</script>

		<script th:inline="javascript">
			var item_id = [[${item.id}]];
			var price = $(".active span").val();
			$(document).ready(function() {
				//设置href的值
				$("#item_url").attr("href", "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wx7738ac5a31d41ee4&amp;redirect_uri=http://atjx.club/mobile/placeOrder?id=" + item_id + "&amp;spe_id=" + price + "&amp;response_type=code&amp;scope=snsapi_base&amp;state=100#wechat_redirect");
			});

		</script>




		<script th:src="@{/js/swiper.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/particulars.js}" type="text/javascript" charset="utf-8"></script>



	</body>
</html>
