<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/styles.css" />
		<title></title>
	</head>
	<body>
		<header>
			<a onclick="window.history.go(-1)"><span class="back"></span></a>
			<div class="headtit">我的鲸库</div>
		</header>
		<div class="boxs">
			<div id="jingku">
				<div class="backgrounds">
					<div class="mytotal">￥0</div>
					<p class="totalname">我在艾特鲸选总收益</p>
				</div>
				<ul class="list-mingxi navbars">
					<li><p>￥0</p><p>可提现</p></li>
					<li><p>￥0</p><p>已提现</p></li>
					<li><p>￥0</p><p>直卖收益</p></li>
					<li><p>￥0</p><p>团队收益</p></li>
				</ul>
			</div>
			<div id="tixian" style="display: none;">
				<div class="tixianbj">
					<img src="../img/jinbi.png" class="jinbiimg" alt=""/>
					<div class="tixiantit">佣金金额</div>
					<div class="tixianmoney">￥0</div>
				</div>
				<div class="tixianform">
					<form action="" method="post" id="tixianform">
						<label for="tixianjine"></label><input type="number" name="" id="tixianjine" value="" placeholder="请输入提现金额"/>
						<input type="submit" value="申请提现" id="submitbtns"/>
					</form>
				</div>
				<p class="tixiantishi">满足50元即可提现，一个工作日内到账！</p>
			</div>
			<div id="darenxinxi" style="display: none;"></div>
		</div>
		<div class="footer footlist" id="footlist">
			<ul>
				<li class="active">
					<a href="#jingku"><p>我的鲸库</p></a>
				</li>
				<li>
					<a href="#tixian"><p>申请提现</p></a>
				</li>
				<li>
					<a href="#darenxinxi"><p>达人信息</p></a>
				</li>
			</ul>
		</div>
		<script type="text/javascript" charset="utf-8" src="../js/jquery-3.4.1.min.js" ></script>
		<script type="text/javascript" charset="utf-8" src="../js/common.js" ></script>
		<script type="text/javascript" charset="utf-8" src="../js/jingku.js" ></script>
	</body>
</html>
