<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/styles.css" />
		<link href="https://cdn.bootcss.com/toastr.js/latest/css/toastr.min.css" rel="stylesheet"/>

		<title></title>
	</head>
	<body>
		<header>
			<a onclick="window.history.go(-1)"><span class="back"></span></a>
			<div class="headtit">我的鲸库</div>
		</header>
		<div class="boxs">
			<div id="jingku">
				<div class="backgrounds">
					<div class="mytotal" th:text="'￥'+${wxuser.sum_money}">￥0</div>
					<p class="totalname">我在艾特鲸选总收益</p>
					<div th:switch="${wxuser.u_level}">
						<p th:case="0">目前身份：小V会员</p>
						<p th:case="1">目前身份：大V会员</p>
					</div>

				</div>
				<ul class="list-mingxi navbars">
					<li><p th:text="'￥'+${wxuser.money}">￥0</p><p>可提现</p></li>
					<li><p th:text="'￥'+${wxuser.used_money}">￥0</p><p>已提现</p></li>
					<li><p th:text="'￥'+${wxuser.back_money}">￥0</p><p>直卖收益</p></li>
					<li><p th:text="'￥'+${wxuser.group_money}">￥0</p><p>团队收益</p></li>
				</ul>
			</div>
			<div id="tixian" style="display: none;">
				<div class="tixianbj">
					<img src="../img/jinbi.png" class="jinbiimg" alt=""/>
					<div class="tixiantit">佣金金额</div>
					<div class="tixianmoney" th:text="'￥'+${wxuser.money}"></div>
				</div>
				<div class="tixianform">
					<form id="tixianform">
						<label for="tixianjine"></label><input type="number" name="" id="tixianjine" value="" placeholder="请输入提现金额"/>
						<input type="submit" value="申请提现" id="submitbtns"/>
					</form>
				</div>
				<p class="tixiantishi">满足50元即可提现，一个工作日内到账！</p>
				<p class="tixiantishi">如有问题请联系客服：</p>

			</div>
			<div id="darenxinxi" style="display: none;">
				<div>
					<span>身份信息</span>
				</div>

			</div>
		</div>
		<div class="footermy footlist" id="footlist">
			<ul>
				<li class="active">
					<a href="#jingku"><p>我的鲸库</p></a>
				</li>
				<li>
					<a href="#tixian"><p>申请提现</p></a>
				</li>
				<li>
					<a href="#darenxinxi"><p>达人信息</p></a>
				</li>
			</ul>
		</div>
		<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
		<script type="text/javascript">
			/*<![CDATA[*/
			window.jQuery || document.write("<script src='/js/jquery-3.4.1.min.js'>" + "<" + "/script>");
			/*]]>*/
		</script>
		<script src="https://cdn.bootcss.com/toastr.js/latest/js/toastr.min.js"></script>
		<script type="text/javascript" charset="UTF-8" src="../js/common.js" ></script>
		<script type="text/javascript" charset="UTF-8" src="../js/jingku.js" ></script>

	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var openid=[[${wxuser.openId}]];
		function check() {
			var numb=$('#tixianjine').val();
			var money=[[${wxuser.money}]];
			var monum=parseInt(money);
			if(numb==null||numb===''||numb===0){
				toastr.error("请输入金额!");
			}else if(numb>monum){
				toastr.error("提现金额不能大于余额!");
			}else if(numb<50){
				toastr.error("提现金额不能小于50元!");
			} else{
				return true;
			}
			return false;
		}
		/*]]>*/
		// 表单提交
		$("#submitbtns").click(function(){
			if(check()){
				var numb=$('#tixianjine').val();
				// 这里写后台接口
				$.ajax({
					//几个参数需要注意一下
					type: "POST",//方法类型
					dataType: "json",//预期服务器返回的数据类型
					url: "/mobile/tixian" ,//url
					data: {openid:openid,t_money:numb},
					success: function (result) {
						// console.log(result);//打印服务端返回的数据(调试用)
						alert(result.tips);
						toastr.success("提现申请已提交!");
						window.location.reload();

					},
					error : function() {
						alert("异常！");
					}
				});


			}else{
				return false;
			}


		})
	</script>
	</body>
</html>
