<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" >
	<head>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/styles.css"/>
		<script src="../js/iconfont.js" type="text/javascript" charset="utf-8"></script>
		<link rel="icon" th:href="@{../favicon.ico}" type="image/x-icon" />
		<link rel="shortcut icon" th:href="@{../favicon.ico}" type="image/x-icon" />
		<title>个人中心</title>
	</head>
	<body>
		<div class="container">
			<div class="myimgbj">
				<img src="../img/timg4.jpg" />
				<div class="myhead" th:style="'background:url(' + ${user.getHeadImgUrl()} + ');'">
				</div><br/>
				<span style="bottom: 45%;font-size:0.65rem" th:text="${user.getNickname()}"></span>


			</div>

			<ul class="navbars">
				<li>
					<a href="javascript:;">
						<div>
					<img src="../img/mynavbar1.png" />
					<p>全部订单</p></div></a>
				</li>
				<li><a href="javascript:;">
					<div>
					<img src="../img/mynavbar2.png"/>
					<p>已支付</p></div></a>
				</li>
				<li><a href="javascript:;">
					<div>
					<img src="../img/mynavbar3.png"/>
					<p>已预约</p></div></a>
				</li>
				<li><a href="javascript:;">
					<div>
					<img src="../img/mynavbar4.png"/>
					<p>已完成</p></div></a>
				</li>
				<li><a href="">
					<div>
					<img src="../img/mynavbar5.png"/>
					<p>我的鲸库</p></div></a>
				</li>
				<li><a href="">
					<div>
					<img src="../img/mynavbar6.png"/>
					<p>我的鲸币</p></div>
				</a>
				</li>
			</ul>
			<div class="listdingdan">
				<div class="listdingdanone">
					<div class="listdingdanone-dianzima"><span>电子码：</span><span>852852852</span></div>
					<div class="listdingdanone-bianhao">订单编号：7416532963</div>
					<div class="listdingdanone-xiangqing">
						<img src="../img/projects.png" />
						<p>代金券可叠加使用，除餐包、调料、酒水外全场通用～～单张券适合3-4人使用，折后人均50～</p>
					</div>
					<div class="listdingdanone-usernames" th:text="'用户名：'+${user.getNickname()}"></div>
					<div class="listdingdanone-usernames">手机号：123</div>
					<div class="listdingdanone-btns">
						<div class="listdingdanone-btns-left">￥99</div>
						<div class="listdingdanone-btns-right">查看详情</div>
					</div>
				</div>

			</div>
		</div>
		<div class="footer">
			<ul>
				<li><a href="/mobile/index">
					<div>
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#icon-shouye"></use>
					</svg>
					<div>首页</div>
					</div>
				</a></li>
				<li><a href="#">
					<div>
					<svg class="icon icontwo" aria-hidden="true">
						<use xlink:href="#icon-jingyu"></use>
					</svg>
					<div style="margin-top: -0.28rem;">我的</div>
					</div>
				</a></li>
			</ul>
		</div>
	</body>
</html>
