<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover" />
		<link rel="stylesheet" type="text/css" href="../css/common.css"/>
		<link rel="stylesheet" type="text/css" href="../css/styles.css"/>
		<title></title>
	</head>
	<body>
		<header>
			<a  onclick="window.history.go(-1)"><div><span class="back"></span></div></a>
			<div class="headtit">提交订单</div>
		</header>
		<div class="boxs">
			<div class="orderbox">
				<div class="order-form">
					<form action="" method="">
						<div class="orderform-group">
							<img src="../img/order1.png" />
							<span>姓名：</span>
							<input type="text" name="ordername" id="ordername" value="" />
						</div>
						<div class="orderform-group">
							<img src="../img/order2.png" />
							<span>手机号：</span>
							<input type="text" name="ordertel" id="ordertel" value=""  oninput = "value=value.replace(/[^\d]/g,'')" maxlength="11"/>
						</div>
						<div class="orderform-group">
							<img src="../img/order3.png" />
							<span>备注：</span>
							<input type="text" name="orderremark" id="orderremark" value="" placeholder="备注信息"/>
						</div>
					</form>
				</div>
				<div class="ordermes">
					<div class="orderTit">商品信息</div>
					<div class="ordertypes">
						<img th:src="${item.image}" />
						<div th:text="${item.title}"></div>
					</div>
					<div class="ordertypes">
						<p>A套餐</p>
						<p id="price" th:text="'￥'+${item.price}"></p>
					</div>
				</div>
				<div class="ordernum">
					<div class="ordernumtext">购买数量：</div>
					<div class="orderbtns">
						 <span data-type="-">-</span>
						 <input type="tel" name="" id="ordernum" value="1" disabled="disabled"/>
						 <span data-type="+">+</span>
					</div>
				</div>
				<div class="xieyi">
					<input type="checkbox" name="" id="readxieyi" value="" />
					<span>我已阅读，并同意</span>
					<a href="javascript:;">《平台用户服务协议》</a>
				</div>
			</div>
		</div>
		<div class="orderpay">
			<div class="orderpay-left"><span>小计：</span><span id="totalmoney" th:text="'￥'+${item.price}"></span></div>
			<div class="paybtn" id="paybtn" onclick="pay()">微信支付</div>
		</div>
		<script src="../js/jquery-3.4.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			function GetQueryString(name) {
				var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");//构造一个含有目标参数的正则表达式对象
				var r = window.location.search.substr(1).match(reg);//匹配目标参数

				if (r != null) return unescape(r[2]);
				/*]]>*/
				return null; //返回参数值
			}
			var openid=null;
			window.onload = function () {
				var code = GetQueryString("code"); //获取code
				$.post("/getOpenid", {code: code}, function (msg) {  //将code传到后台用于获取openid
					openid=msg;
				})};
			function pay(){
				var orderFee = [[${item.price}]];
				// var price =orderFee.replace(/[^0-9]/ig,"");
				var price=parseInt(orderFee);
				console.log("金额："+price);
				// 将用户的金额

				$.post("/pay/order", { orderFee: price,openid: openid}, function (result) {
					// 以下是后台发来的“第二堆参数”，
					var appId=result.data.appId;
					var timeStamp=result.data.timeStamp;
					var nonceStr=result.data.nonceStr;
					var packageStr=result.data.package;
					var signType=result.data.signType;
					var paySign=result.data.paySign;
					if (typeof WeixinJSBridge == "undefined") {
						if (document.addEventListener) {
							document.addEventListener('WeixinJSBridgeReady',
									onBridgeReady, false);
						} else if (document.attachEvent) {
							document.attachEvent('WeixinJSBridgeReady',
									onBridgeReady);
							document.attachEvent('onWeixinJSBridgeReady',
									onBridgeReady);
						}
					} else {
						// 唤起支付页面
						onBridgeReady(appId,timeStamp,nonceStr,packageStr,signType,paySign);
					}
				});

				//微信JSDK唤起支付
				function onBridgeReady (appId,timeStamp,nonceStr,packageStr,signType,paySign) {
					//放到pay里了，这些数据啥时候用？zx
					WeixinJSBridge.invoke('getBrandWCPayRequest', {
								"appId": appId,
								"timeStamp": timeStamp,
								"nonceStr": nonceStr,
								"package": packageStr,
								"signType": signType,
								"paySign": paySign
							},
							/*<![CDATA[*/
							function (msg) {
								if (msg.message == "get_brand_wcpay_request:ok") {
									console.log('支付成功');
									//支付成功后跳转的页面
									window.location.href = "/mobile/rechargeSuccess";
								} else if (msg.message == "get_brand_wcpay_request:cancel") {
									console.log('支付取消');
								} else if (msg.message == "get_brand_wcpay_request:fail") {
									console.log('支付失败');
									WeixinJSBridge.call('closeWindow');
								} //使用以上方式判断前端返回,微信团队郑重提示：res.err_msg将在用户支付成功后返回ok,但并不保证它绝对可靠。
							}
							/*]]>*/
					);
				}
			}

		</script>




		<!--<script th:inline="javascript" charset="utf-8">
			$(function() {
				var p=[[${item.price}]];
				console.log(p);
				var price =parseInt(p,10); //商品单价
				// 商品数量增减
				$(".orderbtns").on("click", "span", function() {
					var num = $("#ordernum").val();
					/*<![CDATA[*/
					if ($(this).data("type") == "-" && $("#ordernum").val() > 1) {
						num&#45;&#45;;
					} else if ($(this).data("type") == "+") {
						num++;
					}
					/*]]>*/
					$("#ordernum").val(num);
					$("#totalmoney").text('￥' + price * num)
				})
				// 商品支付
				$("#paybtn").click(function() {
					if($("#ordername").val() == ""){
						return
					}
					if($("#ordertel").val() == ""){
						return
					}
					var username = $("#ordername").val();//用户姓名
					var usertel = $("#ordertel").val();//用户电话
					var orderremark = $("#orderremark").val();//用户备注
					var num = $("#ordernum").val();//数量
					var totalmoney = $("#totalmoney").text().slice(1);//总价
					var currurl = decodeURIComponent(location.href.split('#')[0]);
					//ajax注入权限验证
					$.ajax({
						url: "", //后台接口地址
						dataType: 'json',
						data: {
							'url': currurl
						},
						complete: function(XMLHttpRequest, textStatus) {},
						error: function(XMLHttpRequest, textStatus, errorThrown) {
							alert("发生错误：" + errorThrown);
						},
						success: function(res) {
							var appId = res.appId;
							var nonceStr = res.nonceStr;
							var jsapi_ticket = res.jsapi_ticket;
							var timestamp = res.timestamp;
							var signature = res.signature;
							// alert(appId +" " + nonceStr +" "+jsapi_ticket+" "+timestamp+" "+signature);
							wx.config({
								debug: false, //开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
								appId: appId, //必填，公众号的唯一标识
								timestamp: timestamp, // 必填，生成签名的时间戳
								nonceStr: nonceStr, //必填，生成签名的随机串
								signature: signature, // 必填，签名，见附录1
								jsApiList: ['onMenuShareAppMessage', 'onMenuShareTimeline'] //必填，需要使用的JS接口列表，所有JS接口列表 见附录2
							}); // end wx.config
							wx.ready(function() {
								$.ajax({
									url: "",//后台支付接口
									type: "post",
									dataType: "json",
									success: function(result) {
										wx.chooseWXPay({
											timestamp: result.timeStamp, // 支付签名时间戳，注意微信jssdk中的所有使用timestamp字段均为小写。但最新版的支付后台生成签名使用的timeStamp字段名需大写其中的S字符
											nonceStr: result.nonceStr, // 支付签名随机串，不长于 32 位
											package: "prepay_id=" + result.prepay_id,
											signType: 'MD5', // 签名方式，默认为'SHA1'，使用新版支付需传入'MD5'
											paySign: result.paySign, // 支付签名
											success: function(res) {

											}
										});
									},
									error: function(data) {
										alert(data);
									}
								})
							}); // end ready

							wx.error(function(res) {
								// config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。
								alert('error');
							});
						}
					});
				})
			})



		</script>-->

	</body>
</html>
